<div id="page-signals" class="row">
  <div class="sidebar" ui-view></div>

  <div class="map-container">
    <ui-gmap-google-map
      center="map.center"
      zoom="map.zoom"
      options="map.options"
      draggable="true"
      pan="true"
      control="map.control"
      events="map.events"
      style="width: 100%;height:100%;"
      >
        <ui-gmap-marker icon="currentMarker.icon" options="currentMarker.options" coords="currentMarker.coords" idKey="currentMarker.id"></ui-gmap-marker>
        <ui-gmap-markers models="markers" coords="'coords'" options="'options'" icon="'icon'" doCluster=true></ui-gmap-markers>
      </ui-gmap-google-map>
  </div>
</div>

