<div class="row signals-view">
  <div class="col-xs-12 col-sm-4 left-pane">
    <h3>{{ signal.type }}</h3>
    <div class="timestamp">Подаден на {{ signal.created | date:'dd MMM yyyy HH:mm' }}</div>
    <div class="status">
      <div class="open" ng-class="(signal.status == 0) ? 'active' : ''">отворен</div>
      <div class="assigned" ng-class="(signal.status == 1) ? 'active' : ''">работи се</div>
      <div class="resolved" ng-class="(signal.status == 2) ? 'active' : ''">решен</div>
    </div>
    <div class="btn-group-vertical" ui-view="assignment">
        <button type="button" class="btn btn-primary" ng-model="userAssignment.role" btn-radio="'owner'" uncheckable>Ще помогна да се оправи.</button>
        <button type="button" class="btn btn-info" ng-model="userAssignment.role" btn-radio="'middleman'" uncheckable>Ще помогна това да стигне до когото трябва</button>
        <button type="button" class="btn btn-default" ng-model="userAssignment.role" btn-radio="'culprit'" uncheckable>Аз го направих, признавам</button>
    </div>
    <div>
      {{ signal.address }}<br>
      {{ signal.location }}
    </div>
    <div>{{ signal.description }}</div>
    <div class="thumbnail">
      <img data-ng-src="/img/signals/{{ signal._id }}/{{ signal.images[0] }}" >
    </div>
    <div class="thumbnails">
      <div ng-repeat="image in signal.images">
        <a href="#!" class="thumbnail">
          <img data-ng-src="/img/signals/{{ signal._id }}/{{ image }}">
        </a>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-8 right-pane">
    <div class="action-block-assign">
    </div>
    <div class="action-block-confirm">
    </div>
    <div class="action-block-comment">
      <form>
        <div class="form-group">
          <textarea class="form-control" data-ng-model="comment" placeholder="Коментирай проблема"></textarea>
        </div>
        <button type="submit" class="btn btn-comment pull-right" data-ng-click="addComment(comment)">
          <i class="type fa fa-comment-o"></i>&nbsp;
          Добави коментар
        </button>
        <div class="clearfix"></div>
      </form>
    </div>
    <div class="history">
      <h4>История на проблема</h4>
      <ul>
        <li class="history-item" data-ng-repeat="activity in signal.activities | orderBy: reverse">
          <i class="type fa fa-comment-o"></i>
          <div class="timestamp">
            {{ activity.dateTime | date:'dd MMM yyyy HH:mm' }}
          </div>
          <div class="content">
            {{ activity.comment }}
            <div class="created-by">
              {{ activity.createdBy }}
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
